<nav id="template-i090p" class="">
    <div id="ij0o8m" class="gdp-row gpd-grid">
        <div id="template-iyoc4" class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#myNavbar" id="template-ioico"
            class="navbar-toggle">
<span id="template-iy169" class="icon-bar">

                    </span>

<span id="template-ivo7o" class="icon-bar">

                    </span>

<span id="template-ihry1" class="icon-bar">

                    </span>

            </button>
        </div>
        <div id="mySidenav" class="sidenav">
<a [routerLink]="['javascript:void(0)']" onclick="closeNav()" id="template-if7ki"
            class="closebtn">
<div id="ibuiwl" class="cell gpd-clm">
<img id="imvflv" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/cdca723990474ba9ba33337d35ef399d_close.png" class=""/>
</div>
</a>

            <div id="MainMenu" class="">
                <div id="i0xya-2" class="cell gpd-clm">
                    <div id="i60c7-2" class="gdp-row gpd-grid">
                        <div id="ibuiwl" class="cell gpd-clm">
                            <img id="imvflv" />
                        </div>
                        <div id="icrvgp" class="cell gpd-clm" *ngIf='userId!=null'>
                            <div id="i6vd27" class="gdp-row gpd-grid" *ngIf='userId!=null'>
                                <div id="inlo1l" class="cell gpd-clm" *ngIf='userId!=null'> <i id="iyxitk" class="fa fa-home" aria-hidden="true"></i>

                                </div>
                                <div id="iytw4t" class="cell gpd-clm"> <a id="i9imej" class="gpd-text" *ngIf='userId!=null' [routerLink]="['/home']">{{'source.home' | i18next}}</a>

                                </div>
                            </div>
                        </div>
                        <div id="icrvgp" class="cell gpd-clm" *ngIf='isAdminUser'>
                            <div id="i6vd27" class="gdp-row gpd-grid" *ngIf='isAdminUser'>
                                <div id="inlo1l" class="cell gpd-clm" *ngIf='isAdminUser'> <i id="iyxitk" class="fa fa-user" aria-hidden="true"></i>

                                </div>
                                <div id="iytw4t" class="cell gpd-clm" *ngIf='isAdminUser'> <a id="i9imej" class="gpd-text" [routerLink]="['/admin']">{{'source.admin'| i18next}}</a>

                                </div>
                            </div>
                        </div>
                        <div id="icrvgp" class="cell gpd-clm" *ngIf="isApplicable('createscreen') && userId">
                            <div id="i6vd27" class="gdp-row gpd-grid" *ngIf="isApplicable('createscreen') && userId">
                                <div id="inlo1l" class="cell gpd-clm" *ngIf="isApplicable('createscreen') && userId"> <i id="iyxitk" class="fa fa-folder-open" aria-hidden="true"></i>

                                </div>
                                <div id="iytw4t" class="cell gpd-clm" *ngIf="isApplicable('createscreen') && userId"> <a id="i9imej" class="gpd-text" href="#sample" data-toggle="collapse"
                                    data-parent="#MainMenu">sample <i class="fa fa-caret-down"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="sample">
                            <div id="icrvgp" class="cell gpd-clm">
                                <div id="i6vd27" class="gdp-row gpd-grid">
                                    <div id="iytw4t" class="cell gpd-clm">
<a id="i9imej" class="gpd-text" [routerLink]="['/createscreen']">{{'source.createscreen' | i18next}}</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="icrvgp" class="cell gpd-clm" *ngIf='userId!=null'>
                            <div id="i6vd27" class="gdp-row gpd-grid" *ngIf='userId!=null'>
                                <div id="inlo1l" class="cell gpd-clm" *ngIf='userId!=null'> <i id="iyxitk" class="fa fa-sign-out" aria-hidden="true"></i>

                                </div>
                                <div id="iytw4t" class="cell gpd-clm"> <a id="i9imej" class="gpd-text" *ngIf='userId!=null' (click)="logout()">{{'source.logout' | i18next}}</a>

                                </div>
                            </div>
                        </div>
                        <li>
                            <div id="icrvgp" class="cell gpd-clm" *ngIf='userId==null'>
                                <div id="i6vd27" class="gdp-row gpd-grid" *ngIf='userId==null'>
                                    <div id="inlo1l" class="cell gpd-clm" *ngIf='userId==null'> <i id="iyxitk" class="fa fa-sign-in" aria-hidden="true"></i>

                                    </div>
                                    <div id="iytw4t" class="cell gpd-clm"> <a id="i9imej" class="gpd-text" *ngIf='userId==null' [routerLink]="['/login']">{{'source.login' | i18next}}</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <div id="icrvgp" class="cell gpd-clm" *ngIf="isApplicable('authorization') && userId">
                            <div id="i6vd27" class="gdp-row gpd-grid" *ngIf="isApplicable('authorization') && userId">
                                <div id="inlo1l" class="cell gpd-clm" *ngIf="isApplicable('authorization') && userId"> <i id="iyxitk" class="fa fa-shield" aria-hidden="true"></i>

                                </div>
                                <div id="iytw4t" class="cell gpd-clm" *ngIf="isApplicable('authorization') && userId"> <a id="i9imej" class="gpd-text" [routerLink]="['/authorization']">{{'source.authorization' | i18next}}</a>

                                </div>
                            </div>
                        </div>
                        <div id="icrvgp" class="cell gpd-clm" *ngIf="isApplicable('manageroles') && userId">
                            <div id="i6vd27" class="gdp-row gpd-grid" *ngIf="isApplicable('manageroles') && userId">
                                <div id="inlo1l" class="cell gpd-clm" *ngIf="isApplicable('manageroles') && userId"> <i id="iyxitk" class="fa fa-user-plus" aria-hidden="true"></i>

                                </div>
                                <div id="iytw4t" class="cell gpd-clm" *ngIf="isApplicable('manageroles') && userId"> <a id="i9imej" class="gpd-text" [routerLink]="['/manageroles']">{{'source.manageroles' | i18next}}</a>

                                </div>
                            </div>
                        </div>
                        <div id="icrvgp" class="cell gpd-clm" *ngIf="isApplicable('manageusers') && userId">
                            <div id="i6vd27" class="gdp-row gpd-grid" *ngIf="isApplicable('manageusers') && userId">
                                <div id="inlo1l" class="cell gpd-clm" *ngIf="isApplicable('manageusers') && userId"> <i id="iyxitk" class="fa fa-users" aria-hidden="true"></i>

                                </div>
                                <div id="iytw4t" class="cell gpd-clm" *ngIf="isApplicable('manageusers') && userId"> <a id="i9imej" class="gpd-text" [routerLink]="['/manageusers']">{{'source.manageusers' | i18next}}</a>

                                </div>
                            </div>
                        </div>
                        <li>
                            <div id="icrvgp" class="cell gpd-clm">
                                <div id="i6vd27" class="gdp-row gpd-grid">
                                    <div id="inlo1l" class="cell gpd-clm"> <i id="iyxitk" class="fa fa-language" aria-hidden="true"></i>

                                    </div>
                                    <div id="iytw4t" class="cell gpd-clm"> <a href="#translator" data-toggle="collapse" aria-expanded="false" id="i9imej"
                                        class="dropdown-toggle text">
                                                {{'source.selectLanguage' | i18next }} </a>

                                    </div>
                                </div>
                            </div>
                            <ul class="collapse list-unstyled" id="translator">
                                <li *ngFor="let lang of languages">
                                    <div id="icrvgp" class="cell gpd-clm">
                                        <div id="i6vd27" class="gdp-row gpd-grid">
                                            <div id="iytw4t" class="cell gpd-clm"> <a id="i9imej" class="text" (click)='confirmLangModel(lang)'> {{'languages.' + lang | i18nextCap}}</a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display': confirmLangChangeModal}">
    <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>language change cause you to re-login</p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" (click)="confirmLangChange()" class="btn btn-default">Confirm</button>
                <button type="button" (click)="onCloseHandled()" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>